@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "Reddit Sans", sans-serif;
  background-color: #c8dfda;
  height: 100%;
  background-size: cover; /* Подгоняем фон под размер окна */
}
.chat-page { 
  height: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
}

/* Стили для светлой темы */
body .light {
  background-color: #c8dfda;
  color: #333;
  transition: 0.3s ease;
}
/* Стили для тёмной темы */
body .dark { 
  background-color: #333;
  color: #f4f4f4;
  transition: 0.3s ease;
}

.button {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  border: none;
  color: white;
  background-color: #4f978c;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.button:hover {
  background-color: #94c1ba;
}

/* MainPage, Registration, Login */
.registration-error {
  min-width: 100vw;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 22px;
  color: #774c4c;
}
.light .title {
  color: #774c4c;
}
.dark .title {
  color: #fff;
}

.title-description {
  font-size: 16px;
  color: #774c4c;
}

.form-container {
  margin-top: 100px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 0 #0000001a;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
  align-items: center;
  flex: 1;
  text-align: left;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container_item {
  margin-bottom: 1rem;
}

.input {
  min-width: 20rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 0 0.5rem 0 #0000001a;
  transition: 0.3s ease-out;
  outline: none;
}
.input:focus {
  box-shadow: 0 0 5px 0 #504040ee;
}

.error-message {
  max-width: 22rem;
  color: #ff0000;
  font-size: 12px;
  margin: 5px 0;
}

/* ChatPage */
.chat-wrapper { /* Модуль чата */
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.log-out_button {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.light .log-out_button {
  background-color: #4F978C;
  color: #fff;
}
.dark .log-out_button {
  background-color: #889196;
  color: #fff;
}
.light .log-out_button:hover {
  background-color: #94c1ba;
}
.dark .log-out_button:hover {
  background-color: #b4b9bb;
  color: #fff;
}

.user-list { /* Список активных пользователей */
  padding: 20px;
  box-shadow: 0 0 5px 0 #ae8b8bee;
  border-radius: 10px;
  cursor: pointer;
}
.light .user-list {
  background-color: #fff;
  color: #000;
}
.dark .user-list {
  background-color: #444444;
  color: #fff;
}

.message-list {
  display: flex;
  flex-direction: column;
}

/* MessageList */
.messageList {
  margin-bottom: 10px;
  height: 65vh;
  width: 67vw;
  padding: 8px 0;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 #ae8b8bee;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
.light .messageList {
  background-color: #fff;
}
.dark .messageList {
  background-color: #444;
}

.message { /* Сообщения других пользователей */
  padding: 10px;
  margin: 10px 0;
  width: 45%;
  border-radius: 20px 20px 20px 0;
}
.light .message {
  background-color: #c1e0db;
  color: #333;
}
.dark .message {
  background-color: #555;
  color: #f4f4f4;
}

.message-user{ /* Сообщения пользователя */
  padding: 10px;
  margin: 10px 30vw;
  width: 45%;
  border-radius: 20px 20px 0 20px;
}
.light .message-user {
  background-color: #79a8bf;
  color: #333;
}
.dark .message-user {
  background-color: #889196;
  color: #030303;
}

.light .typing-indicator {
  color: #666;
}
.dark .typing-indicator {
  color: #ccc;
}

/* MessageForm */
.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.light .messageContainer {
  background-color: #c1e0db;
}
.dark .messageContainer {
  background-color: #333333;
}

.messageContainerInput {
  flex-grow: 1;
}

.message-input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 5px 0 #ae8b8bee;
  outline: none;
}
.light .message-input {
  color: #333;
  background-color: #fff;
}
.dark .message-input {
  color: #fff;
  background-color: #444444;
}

.chat-button {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.light .chat-button {
  background-color: #4f978c;
  color: #fff;
}
.dark .chat-button {
  background-color: #889196;
  color: #fff;
}
.light .chat-button:hover {
  background-color: #94c1ba;
}
.dark .chat-button:hover {
  background-color: #b4b9bb;
  color: #fff;
}

/* Стили для переключателя темы */
.toggle-container{
  display: flex;
  align-items: center;
}

.change-text{
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4F978C;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #889196;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
